./ansible/venv/
./terraform/venv/
./terraform/.terraform/
./terraform/terraform.tfstate
./terraform/terraform.tfstate.backup
./APi-Gateway/.terraform/
./APi-Gateway/venv/
./api-access-from-internet/venv/
